# 1. Print multiplication table of 24 and 50 upto 10

In [9]:
n=24
i=1
while i<11:
    print(n,'x',i,'=',n*i)
    i=i+1
print('     ')    
m=50
i=1
while i<11:
    print(m,'x',i,'=',m*i)
    i=i+1

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500

# 2.Write a while loop statement to print the following series 107,100,93,86....9

In [6]:
i=107
while(i>8):
  print(i)
  i=i-7

107
100
93
86
79
72
65
58
51
44
37
30
23
16
9

# 3. Write a program to print the factorial of a number accepted from user.

In [12]:
n=int(input('number:'))
i = 1
factorial = 1
while i<=n:
    factorial=factorial*i
    i=i+1
print('factorial=',factorial)

number:6
factorial= 720

# 4.Write a program to accept 10 numbers from the user and display it’s average

In [4]:
i=1
sum=0
print('enter 10 numbers:')
while i<=10:
    n=int(input())
    sum=sum+n
    i=i+1
print('average of 10 numbers:',sum/10)

enter 10 numbers:
5
2
4
1
66
8
9
2
5
10
average of 10 numbers: 11.2

# 5. Write a program to print the following series till n terms. 2 , 22 , 222 , 2222 _ _ _ _ _ n terms

In [15]:
i=0
string='2'
num=int(input("enter number:"))
while(i<num):
    print(string,end=",")
    string=string+'2'
    i=i+1

enter number:5
2,22,222,2222,22222,

# 6.Write a Program to print all the characters in the string ‘PYTHON’ using while loop.

In [14]:
s='PYTHON'
i=0
while(i<len(s)):
    print(s[i])
    i=i+1

P
Y
T
H
O
N